.counter {
    width: 300px;
    padding: 10px;
    background-color: #A1C0C2;
    border-radius: 8px;
    &__btns {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        gap: 10px;
        button {
            width: 30px;
            border-radius: 8px;
            border: none;
            font-size: 30px;
            line-height: 30px;
            padding: 5px;
        }
    }
}