@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-reboot.min.css);
body {
    box-sizing: border-box;
    position: relative;
}
p {
    margin-bottom: 0;
}
.title {
    text-align: center;
}

.main {
    padding: 20px 3% 40px 3%;
    position: relative;
}

.wrapper {
    &__char {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
    }
}

.img {
    border-radius: 8px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    display: none;
}

.btn {
    width: 100px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #ebeb39;
    &:disabled {
        cursor: unset;
        &:hover {
            background-color: #ebeb39;
        }
    }
    &:hover {
        background-color: #ec5a5a;
        transition: 0.6s all;
    }
}

.current-page {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;
}

.character {
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(179, 178, 178);
    &__desc {
        margin-top: 10px;
    }
    &__field {
        font-weight: 700;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
    &:hover {
        background-color: #fafd58;
        transition: 0.6s all;
        cursor: pointer;
        transform: scale(1.05);
        // transform: translate(3px, -10px);
    }
}

.loading {
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    background-color: greenyellow;
    width: 20%;
    border-radius: 8px;
    margin: 0 auto;
    &__img {
        width: 100%;
        border-radius: 8px;
    }
    span {
        font-weight: 500;
    }
    &__close {
        position: absolute;
        top: -10px;
        right: -40px;
        font-weight: 900;
        border: none;
        padding: 5px 10px;
        border-radius: 8px;
        display: block;
        margin: 10px auto 0 auto;
        &:hover {
            background-color: #e66666;
            transition: 0.6s all;
        }
    }
    &__desc {
        margin-top: 15px;
    }
}

.overlay {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.show {
    visibility: visible;
    opacity: 1;
}

.loading {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #ec5a5a;
    opacity: 0;
}

.showLoading {
    // display: flex;
    opacity: 1;
}