.home {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
    }
    &__btn {
        width: 300px;
    }
    &__content {
        padding: 15px;
        border-radius: 8px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        background-color: #9fe4eb;
    }
    &__post {
        background-color: #b1b4b5;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}